body{
    background-color: #eee;
}
.heading{
   
    display: flex;
    justify-content: center;
    margin-bottom:40px;
}

@media (max-width: 767.98px) { .border-sm-start-none { border-left: none !important; } }