body{
    margin: 0px;
    padding: 0px;

}
img{
width: 250px;

}
section{
    display: flex;
    /* justify-content: center; */
    align-items: flex-start;
    gap: 30px;
    
}
.prd-head{
display: block;
}
.sizeChart{
    line-height: 40px;
    font-weight: bold;
    font-family:  sans-serif;

}
.price-head{
    line-height: 100px;
}
.btn{
    width: 130px;
    height: 40px;
    border-radius: 10px;
    border:0px;
    background-color: #000;
    color: azure;
    
}