<body>
  <div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark style="  style="background-color: #cfe2b9;">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="/admin_panel" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house">D</i> <span class="ms-1 d-none d-sm-inline">Dashboard</span>
                        </a>
                    </li>
                   
                    <li>
                        <a href="/admin_panel/user" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-table"></i>U<span class="ms-1 d-none d-sm-inline">Users</span></a>
                    </li>
                    <li>
                        <a href="/admin_panel/add_products" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                            <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Add-products</span></a>
                  
                    </li>
                    <li>
                      <a href="/admin_panel/edit-products" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                          <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Edit-Products</span></a>
                      
                  </li>
                   
                    <li>
                        <a href="/admin_panel/categoryList" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Categories</span> </a>
                    </li>
                    <li>
                      <a href="/admin_panel/banner" class="nav-link px-0 align-middle">
                          <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Banners</span> </a>
                  </li>
                  <li>
                    <a href="/admin_panel/coupon" class="nav-link px-0 align-middle">
                        <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Coupon</span> </a>
                </li>
                  <li>
                    <a href="/admin_panel/orderList" class="nav-link px-0 align-middle">
                        <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Orders</span> </a>
                </li>
                <li>
                    <a href="/admin_panel/sales-report" class="nav-link px-0 align-middle">
                        <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Sales-Report</span> </a>
                </li>
                  <li>
                    <a href="/logout" class="nav-link px-0 align-middle">
                        <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Logout</span> </a>
                </li>
               
                </ul>
                <hr>
               
            </div>
        </div>
    
    
   